* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media (max-width:460px) {
    header{
        height: 350px;
    }
    
    
    
}
@media (max-width:674px) {
    .texto-04 img{
        height: 250px;
        width: auto;
    }
    
    
}
@media (max-width:500px) {
    .texto-05 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        
        
        
    }
    .texto-05 p{
        padding: 10px;
        
        margin: auto;
        text-align: center;
        
        
    }
    .texto-05 img{
        padding: 10px;
    }
    
}
body{
    
        font-family: 'Bai Jamjuree', sans-serif;
    
}

header {
    background-image: url(images/bg-header-desktop.png);
    text-align: center;
    

}

header .logo {
    height: 100px;
    margin-top: 50px;
}

header h1 {
    margin: 20px auto;
}

header p {
    margin: 20px auto;
    width: 70%;
    padding-bottom: 20px;
    
}
.botao-01{
    text-align: center;
}

.botao-01 button {
    margin: 20px 10px;
    padding: 7px 30px;
    border-radius: 20px;
    border: none;
    color: white;
    

}

.botao-01 .b-01 {
    background-color: hsl(171, 66%, 44%);
}

.botao-01 .b-02 {
    background-color: hsl(233, 100%, 69%);
}
.texto-01{
    text-align: center;
    margin: auto;
}
.texto-01 p{
    width: 70%;
    margin: 20px auto;
    text-align: center ;
}
.texto-2{
    display: flex;
    margin: 40px auto;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    
}
.texto-2 img{
    max-height: 500px;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    
}
.texto-2 p {
    width: 70%;
    padding: 50px 0px;
    padding-top:10px;
    margin: auto;
}
.texto-2 h3{
    margin: auto;
    width: 70%;
}
.texto-03{
    text-align: center;
    width: 70%;
    margin:  auto;
}
.texto-03 p{
    margin: 20px auto;
}
.texto-04{
    text-align: center;
    margin: 80px auto;
}
.texto-04 img{
    max-height: 500px;
    max-width: 600px;
    min-width: 200px;
    margin: auto;
}
.texto-04 p{
    width: 70%;
    text-align: center;
    margin: 20px auto;
}
.texto-05{
    display: flex;
    justify-content: space-around;
    
    gap: 40px;

    
}
.texto-05 span{
    width: auto;
    margin: auto;
    text-align: center;
    max-width: 30%;
    
}
.texto-05 span p{
    
    margin: auto;
}
.texto-05 h3{
    padding: 20px;
    font-size: 15px;
}
.imagens{
    display: flex;
    flex-wrap: wrap;
    

    
    

    
}
.imagens img{
    width: 150px;
    
    margin: auto;
    padding: 50px 20px;

}
@media (max-width:500px) {
    .imagens img{
        width: 60vw;
        text-align: center;
        margin: auto;
        padding: 40px;
        
    }
    
    
}
.final{
    text-align: center;
    margin: 50px;
}
.final h2{
    padding: 20px;
}
.botao-02{
    text-align: center;
    margin: auto;

}
.botao-02 button{
    width: 200px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    padding: 10px 10px;

    
}
.dre{
    display: flex;
    margin: auto;
    margin-top: 50px;
    
    justify-content: space-around;
    background-color: aliceblue;
    padding: 50px 0px;


}


.dre p{
    padding: 10px 20px;
    
}
.dre img{
    height: 60px;
    

    
}
.b1{
    background-color: hsl(171, 66%, 44%) ;
    color: white;
    
    
}
.b2{
    background-color: hsl(233, 100%, 69%);
    color: white;

}
.b-01:hover{
    box-shadow: 0px 0px 10px hsl(171, 66%, 44%)  ;
    transition: 0.2s  linear  ;
}
.b-02:hover{
    box-shadow: 0px 0px 10px hsl(233, 100%, 69%);  ;
    transition: 0.2s  linear  ;

}
.b1:hover{
    box-shadow: 0px 0px 10px hsl(171, 66%, 44%)  ;
    transition: 0.2s  linear  ;
}
.b2:hover{
    box-shadow: 0px 0px 10px hsl(233, 100%, 69%);  ;
    transition: 0.2s  linear  ;
    

}